<header class="w-full  flex h-20 bg-slate-500 text-white border justify-between  p-5">
    <div routerLink="" class='text-2xl bold cursor-pointer action:bg-black'>
        LOGO
    </div>
    <div class="h-full w-full flex gap-6 justify-end">

        <div class="sm:flex gap-6 hidden text-xl">
            <a routerLink="" class="hover:text-blue-300">Home</a>
            <a routerLink="" class="hover:text-blue-300">Product</a>
            <a routerLink="" class="hover:text-blue-300">Order</a>
            <a routerLink="card" class="hover:text-blue-300">Cart</a>
        </div>

        <div
            class="rounded-full sm:flex border cursor-pointer h-10 w-10 items-center justify-center hidden hover:bg-red-300 ">
            A
        </div>
        <div class="flex flex-col gap-2 sm:hidden">
            <div class="h-[2px] w-10 bg-black "></div>
            <div class="h-[2px] w-10 bg-black "></div>
            <div class="h-[2px] w-10 bg-black "></div>
        </div>
    </div>
</header>